elearning_cujae/models/__pycache__/slide_slide.cpython-312.pyc
event_cujae/__pycache__/__init__.cpython-312.pyc
event_cujae/controllers/__pycache__/__init__.cpython-312.pyc
event_cujae/controllers/__pycache__/submission_controller.cpython-312.pyc
event_cujae/models/__pycache__/__init__.cpython-312.pyc
event_cujae/models/__pycache__/event.cpython-312.pyc
event_cujae/models/__pycache__/responsible.cpython-312.pyc
event_cujae/models/__pycache__/scientific_work.cpython-312.pyc
event_cujae/models/__pycache__/university_faculty.cpython-312.pyc
elearning_cujae/models/__pycache__/slide_slide.cpython-312.pyc
