
.bh-badge-warning{
    color: #FFFFFF;
    background-color: #F99C19;
}

.o_wslides_js_slide_toggle_is_required p {
    margin-bottom: 0 !important;;
}

.o_wslides_js_slide_toggle_is_preview.badge-success{
    color: #FFFFFF;
    background-color: #09D5AC;
}

.bh_text_popup a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
}

#missing_requirement_modal .btn.btn-primary{
    background-color: #2F64E4;
    border-color: #2F64E4;
    color: #fff;
    border-radius: 8px;
}